{% extends 'Includes/index.html' %}
{% load static %}
{% block title %}Объект: {% endblock %}

{% block css %}
<link href="{% static 'css/CardsPages/cards_edit.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<section>
    <div class="info_sec_div">
        <h2>Адрес</h2>
        <input type="text" placeholder="Округ">
        <input type="text" placeholder="Район">
        <input type="text" placeholder="Адрес либо адресный ориентир ЗУ">
        <input type="text" placeholder="Адрес объекта">
    </div>
    <div class="info_sec_div">
        <h2>Электронные учетные записи и сведения</h2>
        <input type="text" placeholder="Блокировка госуслуг">
        <input type="text" placeholder="Выявлен">
        <input type="text" placeholder="Орган исполнительной власти">
        <input type="text" placeholder="Выявлен МПА">
        <input type="text" placeholder="Внутренняя реконструкция">
        <input type="text" placeholder="Номер письма в ЭДО">
        <input type="text" placeholder="Дата письма в ЭДО">
    </div>
    <div class="info_sec_div">
        <h2>Статус объекта</h2>
        <input type="text" placeholder="Проверяющее подразделение">
        <input type="text" placeholder="Ручная корректировка состояния">
        <input type="text" placeholder="Комментарий к ручной корректировке">
        <input type="text" placeholder="Состояние">
        <input type="text" placeholder="Рассматривается в рамках">
        <input type="text" placeholder="Приложение (документ)">
        <input type="text" placeholder="Количество объектов">
    </div>
    <div class="info_sec_div">
        <h2>Информация о демонтаже</h2>
        <input type="text" placeholder="Демонтирован">
        <input type="text" placeholder="Дата подтверждения демонтажа">
        <input type="text" placeholder="Лицо, осуществляющее демонтаж">
    </div>
    <div class="info_sec_div">
        <h2>Сведения о типе объекта</h2>
        <input type="text" placeholder="Тип объекта">
        <input type="text" placeholder="Комментарий к типу объекта">
        <input type="text" placeholder="Религия">
        <input type="text" placeholder="ОКН">
    </div>
    <div class="info_sec_div">
        <h2>Конструкционные сведения объекта</h2>
        <input type="text" placeholder="Площадь/длина самостроя">
        <input type="text" placeholder="Ед. измерения пл./длины">
        <input type="text" placeholder="Площадь по БТИ">
        <input type="text" placeholder="Площадь объекта">
        <input type="text" placeholder="Год начала строительства">
        <input type="text" placeholder="Год окончания строительства">
        <input type="text" placeholder="Количество жалоб от граждан">
        <input type="text" placeholder="Площадь пятна застройки(кв.м)">
        <input type="text" placeholder="Высотность объекта(м.)">
        <input type="text" placeholder="Материал стен">
        <input type="text" placeholder="Конструктив">
    </div>
</section>
{% endblock %}